.cotbody {
  background-color: #ea3b1a;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  margin-bottom: 15rem;
  gap: 3rem;
}

.titlecot {
  margin-top: 3rem;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3rem;
  text-align: center;
}

.buttoncot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  width: 300px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  border-radius: 5px;
  gap: 5px;
  color: #ea3b1a;
}

.whatscot {
  width: 35px;
}

